.git
../.github
.venv
venv
env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.vscode/
.idea/
.DS_Store
coverage/
pytest_cache/
*.sqlite3
*.log
*.pot
*.mo
node_modules/

# Custom files and directories to ignore
README.md
LICENSE
app/env.ini
app/env.ini.example
app/Dockerfile
